<div><a id="aqi" href="" class="clickable">Aqi:</a> {{this.data.aqi_display}}</div>
<div class="aqi-content"></div>
<div><a href="" class="clickable">Category:</a> {{this.data.category}}</div>
<div class="cat-content"></div>
<div id="res"><a id="pollutant" href="" class="clickable">Dominant pollutant:</a>{{this.data.dominant_pollutant}}</div>
<div class="poll-content"></div>





