

<div><a href="" class="clickable" >Grass: </a> {{this.grass.in_season}}</div>
<div><a href="" class="clickable">Tree: </a> {{this.tree.in_season}}</div>
<div><a href="" class="clickable">Weed: </a> {{this.weed.in_season}}</div>
