body {
  font-family: 'Work Sans', sans-serif;
  background-image: url('/images/Blue Sky.jpg');
}


.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 200px auto;
  /* border: 1px solid black; */
  border-radius: 3px;
  width: 80%;
  /* box-shadow: 0 0 5px rgba(68, 75, 82, 0.5); */
  /* background-color: white */
}

#aqi-close {
  background-color: red;
  width: 30px;
  cursor: pointer;
  color: #fff;
  border-radius: 2px;
}

#pol-close {
  background-color: red;
  width: 30px;
  cursor: pointer;
  color: #fff;
  border-radius: 2px;
}

.button {
  margin-left: 35%;
}

.btn {
  padding: 15px 30px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
  border-radius: 5px;
  display: inline;
  
}

.btn.blue {
  color: #fff;
  background-color: #0069D8;
}

.btn.blue:hover {
  background-color:  rgb(44, 142, 247);
}

.clickable {
  color: rgb(44, 43, 43);
  text-decoration: none;
  transition: 0.3s;
  cursor: pointer; /* изменяет вид крсора при наведении */
}

.clickable:hover {
  text-decoration: underline;
  opacity: 0.7;
}

.in-block {
  color: rgb(66, 59, 59);
  background-color:  rgb(153, 199, 248);
  border-radius: 3px;
  box-shadow: 0 0 10px rgba(68, 75, 82, 0.5);
  margin: 20px 0px;
  padding: 40px 20px;
  width: 100%;
}

#city {
  margin-top: 10px;
  border-radius: 5px;
}

.poll-content {
  background-color: bisque;
  font-size: 10px;
  border-radius: 3px;
  margin: 6px;
  box-shadow: 0 0 5px rgba(68, 75, 82, 0.5);
  padding: 5px;
}

.aqi-content {
  background-color: bisque;
  font-size: 10px;
  border-radius: 3px;
  margin: 6px;
  box-shadow: 0 0 5px rgba(68, 75, 82, 0.5);
  padding: 5px;
}

.cat-content {
  background-color: bisque;
  font-size: 10px;
  border-radius: 3px;
  margin: 6px;
  box-shadow: 0 0 5px rgba(68, 75, 82, 0.5);
  padding: 5px;
}

#city1 {
  width: 100px;
}

.logo {
  display: flex;
    align-items: center;
}

#logotype {
  color: #fff;
  margin-left: 10px;
}